<form>
   <input type="number" [(ngModel)]="num1"  name="num1">
   <input type="number" [(ngModel)]="num2"  name="num2">
   <div class="button-container">
   <button (click)="somar()">Somar</button>
   <button (click)="subtrair()">Subtrair</button>
   <button (click)="dividir()">Dividir</button>
   <button (click)="multiplicar()">Multiplicar</button>
   <button (click)="potencia()">Potenciação</button>
   <button (click)="raiz()">Radiciação </button>
   </div>
   <label>{{resul}}</label>

</form>
